[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
flask = "*"
loguru = "*"
langchain = "*"
pypdf = "*"
sentence-transformers = "*"
chromadb = "*"
unstructured = "*"
python-pptx = "*"
docx2txt = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
